/* Import some mixins that will make it easier to use flexbox in a compatible manner */
/* Import a mixin for the transition CSS property */
/* Mixins for transition */
/* ex: @include transition(arguments ...); */
/* Import a mixin for the transform CSS property */
/* Import a mixin for the box-sizing CSS property */
/* Import a mixin for the box-shadow CSS property */
/* Import a mixin for CSS linear gradients */
/*	Mixin for using linear-gradients
	
	https://www.sitepoint.com/building-linear-gradient-mixin-sass/

	OBS:
	We are not using the fallback color, since we might want a fallback
	color that isn't the first on the list, so it must be explicitly written
	in the main CSS stylesheet!
*/
/* CSS RESPONSIVENESS VARIABLES */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica; }

.header {
  display: table;
  width: 100%;
  height: 25vh;
  color: #ffffff;
  background-color: #ff8000;
  border-bottom: 3vh solid #ff5f00;
  padding: 1vh 3vw 1vh 3vw; }
  .header .header-logo {
    display: table-cell;
    vertical-align: middle;
    width: 30vh;
    height: 20vh; }
    .header .header-logo img {
      height: 100%; }
  .header .header-title {
    display: table-cell;
    vertical-align: top;
    text-align: left; }
    .header .header-title h1 {
      font-size: 8vh;
      margin-left: -8vh; }
    .header .header-title h2 {
      font-size: 5vh;
      margin-top: 2vh; }
  .header .header-description {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
    padding-right: 10%;
    padding-bottom: 1vh;
    width: 50%; }
    .header .header-description h5 {
      font-size: 3vh; }

@media not screen and (min-aspect-ratio: 4 / 3) and (min-width: 800px) and (min-height: 600px) {
  .header {
    height: 20vh;
    border-bottom: 1vh solid #ff5f00;
    padding: 1vh 2vw 1vh 2vw; }
    .header .header-logo {
      width: 27vh;
      height: 18vh; }
    .header .header-title h1 {
      font-size: 8vh;
      margin-left: -2vh; }
    .header .header-title h2 {
      font-size: 5vh;
      margin-top: 2vh; }
    .header .header-description {
      display: none; } }
.blog-body {
  display: table;
  width: 100%;
  height: 75vh; }
  .blog-body .left-sidebar, .blog-body .right-sidebar {
    display: table-cell;
    vertical-align: top;
    background-color: #0f0f0f; }
  .blog-body .left-sidebar {
    width: 10%; }
    .blog-body .left-sidebar a {
      color: #ff8000;
      text-decoration: none; }
    .blog-body .left-sidebar a:hover {
      color: #663300; }
    .blog-body .left-sidebar .category-link {
      width: 100%;
      padding: 2vh 15% 2vh 15%; }
      .blog-body .left-sidebar .category-link img {
        width: 100%; }
      .blog-body .left-sidebar .category-link h4 {
        text-align: center;
        font-size: 2.5vh; }
    .blog-body .left-sidebar .category-link:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .blog-body .content {
    display: table-cell;
    vertical-align: top;
    background-color: #ffffff; }
  .blog-body .post-list {
    background-color: #bababa;
    padding: 5vh 2% 5vh 2%; }
    .blog-body .post-list .post {
      width: 100%;
      margin-top: 2vh;
      margin-bottom: 3vh; }
      .blog-body .post-list .post .post-title {
        width: 100%;
        background-color: #333366;
        text-align: center;
        color: #ffffff;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 1rem 1rem 0 0; }
      .blog-body .post-list .post .post-info {
        display: table;
        width: 100%;
        background-color: #222244;
        color: #ffffff; }
        .blog-body .post-list .post .post-info h5 {
          display: table-cell;
          text-align: center; }
      .blog-body .post-list .post .post-description {
        width: 100%;
        padding: 1rem 2rem 1rem 2rem;
        background-color: #ffffff;
        color: #333333;
        border-radius: 0 0 1rem 1rem; }
        .blog-body .post-list .post .post-description h5 {
          text-align: center;
          margin-top: 0.5rem; }
          .blog-body .post-list .post .post-description h5 a {
            color: #4d4d4d;
            text-decoration-style: dotted; }
  .blog-body .post-complete .post {
    width: 100%; }
    .blog-body .post-complete .post .post-title {
      width: 100%;
      padding: 3vh 5%;
      background-color: #333366;
      text-align: center;
      color: #ffffff; }
    .blog-body .post-complete .post .post-info {
      display: table;
      width: 100%;
      padding: 1vh 0;
      background-color: #222244;
      color: #ffffff; }
      .blog-body .post-complete .post .post-info h5 {
        display: table-cell;
        text-align: center; }
    .blog-body .post-complete .post .post-content {
      width: 100%;
      padding: 5vh 10% 5vh 10%;
      background-color: #ffffff;
      color: #1a1a1a; }
      .blog-body .post-complete .post .post-content .header-image {
        margin-bottom: 5vh;
        margin-top: -5vh;
        margin-left: -12.5%;
        width: 125%; }
      .blog-body .post-complete .post .post-content p {
        margin-bottom: 1rem; }
      .blog-body .post-complete .post .post-content a {
        color: #505050;
        text-decoration-style: dotted;
        text-decoration-color: #202020; }
      .blog-body .post-complete .post .post-content a:hover {
        color: #202020; }
  .blog-body .post.front-end .post-title {
    background-color: #f16529;
    color: #ffffff; }
  .blog-body .post.front-end .post-info {
    background-color: #e44d26;
    color: #ffffff; }
  .blog-body .post.back-end .post-title {
    background-color: #f2c33c;
    color: #ffffff; }
  .blog-body .post.back-end .post-info {
    background-color: #e9a53c;
    color: #ffffff; }
  .blog-body .post.security .post-title {
    background-color: #333366;
    color: #ffffff; }
  .blog-body .post.security .post-info {
    background-color: #222244;
    color: #ffffff; }
  .blog-body .post.others .post-title {
    background-color: #0aa40c;
    color: #ffffff; }
  .blog-body .post.others .post-info {
    background-color: #0f791c;
    color: #ffffff; }
  .blog-body .right-sidebar {
    width: 20%;
    padding: 0 1% 0 1%; }
    .blog-body .right-sidebar img {
      display: block;
      width: 80%;
      margin: 3vh auto;
      border-radius: 50%; }
    .blog-body .right-sidebar .profile-description {
      margin: 0 auto;
      color: #ffffff;
      text-align: center;
      padding: 0 3% 3vh 3%; }
      .blog-body .right-sidebar .profile-description h3 {
        font-size: 2.5vh;
        margin-bottom: 1vh; }
      .blog-body .right-sidebar .profile-description p {
        font-size: 1.5vh;
        margin-bottom: 0.5vh; }

@media not screen and (min-aspect-ratio: 4 / 3) and (min-width: 800px) and (min-height: 600px) {
  .blog-body {
    height: 90vh; }
    .blog-body .content {
      display: table-header-group; }
    .blog-body .post-list .post {
      margin: 0 0 3vh 0; }
      .blog-body .post-list .post .post-title {
        border-radius: 0; }
      .blog-body .post-list .post .post-description {
        border-radius: 0; }
    .blog-body .left-sidebar {
      display: table-footer-group;
      width: 100%; }
      .blog-body .left-sidebar .category-link {
        padding: 3vh 30% 3vh 30%; }
    .blog-body .right-sidebar {
      width: 100%;
      padding: 3vh 5% 3vh 5%; }
      .blog-body .right-sidebar .profile-description h3 {
        font-size: 3vh; }
      .blog-body .right-sidebar .profile-description p {
        font-size: 2vh; } }
.blog-footer {
  width: 100%;
  height: 10vh;
  background-color: #ff8000;
  border-top: 2vh solid #ff5f00;
  padding: 2vh 10% 2vh 10%; }
  .blog-footer h4 {
    color: #ffffff;
    font-size: 2.5vh; }

@media not screen and (min-aspect-ratio: 4 / 3) and (min-width: 800px) and (min-height: 600px) {
  .blog-footer {
    border-top: 1vh solid #ff5f00; }
    .blog-footer h4 {
      font-size: 2vh; } }

/*# sourceMappingURL=stylesheet.css.map */
