<h3>About the author:</h3>

<p>
My first contact with programming was when I was about 8 years old,
borrowing a Visual Basic book from my father. As a kid, my interest
with coding was mostly trying to make games, but as I grew up I also
started to become enthusiastic with understanding better how things
worked at their core.
</p>

<p>
I really enjoy programming in C, which is probably my favorite language,
but also have contact with Javascript, Ruby, Bash script, amongst others.
I'm currently turning my focus towards web-development, mostly front-end,
but also trying to keep learning some the back-end tools.
</p>

<p>
This blog is meant to share some of the knowledge I acquired through my
studies and start discussions about web-dev.
</p>

<p>
IRL, I really love surfing!
</p>
