<!-- Start of Comment Section -->
<div class="comment-section">
	<h2>Comments</h2>

	<div id="comment-list" class="comment-list">
	</div>

	<div class="comment-form">
		<h4>Leave a comment</h4>
		<form method="POST" action="{{ page.comment-post-link }}">
			<h5>Reply ID: <span>(filled automatically)</span></h5>
			<input type="text" name="fields[parent]" disabled readonly/>
			<h5>Name:</h5>
			<input type="text" name="fields[name]"/>
			<h5>Github Account: <span>(optional for displaying avatar)</span></h5>
			<input type="text" name="fields[github]" disabled readonly/>
			<h5>Comment:</h5>
			<textarea name="fields[comment]"></textarea>
			<button type="submit">Send</button>
		</form>
	</div>
	<script type="text/javascript">
		//AJAX call
		function loadComments() {
			xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200){
					var obj = JSON.parse(this.responseText);
					document.getElementById("comment-list").innerHTML = buildComments(obj);
				}
			};
			xhttp.open("GET", "{{ page.comment-section }}", true);
			xhttp.send();
		}
		//Formating the comment strings (dealing with line breaks and escaping HTML)
		function formatStr(str){
			var formated_str = String(str);

			//Escape HTML
			var escapeMap = {
				'&': '&amp;',
				'<': '&lt;',
				'>': '&gt;',
				'"': '&quot;',
				"'": '&#39;',
				'/': '&#x2F;',
				'`': '&#x60;',
				'=': '&#x3D;'
			};

			formated_str = formated_str.replace(/[&<>"'`=\/]/g, function (s) {
				return escapeMap[s];
			});

			//Deal with line breaks
			formated_str = formated_str.replace(/(?:\r\n|\r|\n)/g, '<br />');

			return formated_str;
		}
		//Building the comment HTML
		function buildComments(JSONArr){
			var currentText = "";

			for(var i = 0; i < JSONArr.length; i++){
				currentText += "<div class=\"comment\">\n";
				currentText += "\t<div class=\"comment-avatar\">\n";
				if(JSONArr[i].github){
					currentText += "\t\t<img src=\"https://avatars.githubusercontent.com/"+encodeURI(formatStr(JSONArr[i].github))+"\">\n";
				} else {
					currentText += "\t\t<img src=\"https://avatars.githubusercontent.com/staticmanapp\">\n";
				}
				currentText += "\t</div>\n";
				currentText += "\t<div class=\"comment-body\">\n";
				currentText += "\t\t<p><strong>"+formatStr(JSONArr[i].name)+"</strong> <em>"+formatStr(JSONArr[i].date)+"</em></p>\n";
				currentText += "\t\t<p>"+formatStr(JSONArr[i].comment)+"</p>\n";
				currentText += "\t</div>\n";
				currentText += "\t<div class=\"comment-controls\">\n";
				currentText += "\t\t<h6><a href=\"#\">Reply</a></h6>\n";
				currentText += "\t</div>\n";
				if(JSONArr[i].reply){
					currentText += buildComments(JSONArr[i].reply);
				}
				currentText += "</div>\n";
			}

			return currentText;
		}

		//Load Comments (Later can be a IIFE)
		loadComments();
	</script>
</div>
<!-- End of Comment Section -->
