<!-- Comment Submit Modal -->
<div id="commentModal" class="comment-modal">
	<div class="comment-modal-content">
		<div class="comment-modal-title">
			<h3>Thank you for sharing your opinion!</h3>
		</div>
		<div class="comment-modal-text">
			<p>Your comment was successfully submitted!</p>
			<p>Normally it takes around a minute for it to show in the comment section.</p>
			<h5 onclick="hideModal();">Close [x]</h5>
		</div>
	</div>
</div>

<!-- Start of Comment Section -->
<div class="comment-section">
	<h2>Comments</h2>

	<div id="comment-list" class="comment-list">
	</div>

	<div class="comment-form">
		<h4>Leave a comment</h4>
		<form id="comment-form-element" method="POST" action="{{ page.comment-post-link }}">
			<input type="hidden" name="options[redirect]" value="{{ page.url | absolute_url }}#commentSubmitted"/>
			<h5>Reply ID: <span>(filled automatically)</span></h5>
			<h5 id="cancel-reply" onclick="replyTo('');">Cancel Reply</h5>
			<input type="text" name="fields[parent]" readonly/>
			<h5>Name:</h5>
			<input type="text" name="fields[name]"/>
			<h5>Github Account: <span>(optional for displaying avatar)</span></h5>
			<input type="text" name="fields[github]"/>
			<h5>Comment:</h5>
			<textarea name="fields[comment]"></textarea>
			<button type="submit">Send</button>
		</form>
	</div>
	<script type="text/javascript">
		// =================== COMMENT POSTING SCRIPTS ==================
		//Avoid empty github or parent input to be sent
		var commentForm = document.getElementById("comment-form-element");
		commentForm.addEventListener("submit", function(){
			var inputField = commentForm.getElementsByTagName("input");

			for(var i = 0; i < inputField.length; i++){
				//If the github field has no value but has a name (active) deactivate it (name="")
				if ((inputField[i].name == "fields[github]") && !inputField[i].value){
					inputField[i].name = "";
				}
				//If the parent field has no value but has a name (active) deactivate it (name="")
				if ((inputField[i].name == "fields[parent]") && !inputField[i].value){
					inputField[i].name = "";
				}
			}
		});
		//Fill reply field (parent field) => replyTo("ID"); to reply to ID and replyTo("") to cancel reply
		function replyTo(id){
			var inputField = commentForm.getElementsByTagName("input");

			for(var i = 0; i < inputField.length; i++){
				if(inputField[i].name == "fields[parent]"){
					inputField[i].value = id;
				}
			}

			//Show cancel button if we are adding a reply, remove it if we are removing a reply
			if(id) {
				document.getElementById("cancel-reply").style.display = "block";
			} else {
				document.getElementById("cancel-reply").style.display = "none";
			}
		}
		// ==============================================================

		// =================== COMMENT LOADING SCRIPTS ==================
		//AJAX call
		function loadComments() {
			xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200){
					var obj = JSON.parse(this.responseText);
					//Do we have any comments at all?
					if(obj.length == 0){
						document.getElementById("comment-list").innerHTML = "<p class=\"empty-list\">There are no comments yet. Be the first to comment!</p>";
					} else {
						document.getElementById("comment-list").innerHTML = buildComments(obj);
					}
				}
			};
			xhttp.open("GET", "{{ page.comment-section }}", true);
			xhttp.send();
		}
		//Formating the comment strings (dealing with line breaks and escaping HTML)
		function formatHTMLStr(str){
			var formated_str = String(str);

			//Escape HTML
			var escapeMap = {
				'&': '&amp;',
				'<': '&lt;',
				'>': '&gt;',
				'"': '&quot;',
				"'": '&#39;',
				'/': '&#x2F;',
				'`': '&#x60;',
				'=': '&#x3D;'
			};

			formated_str = formated_str.replace(/[&<>"'`=\/]/g, function (s) {
				return escapeMap[s];
			});

			//Deal with line breaks
			formated_str = formated_str.replace(/(?:\r\n|\r|\n)/g, '<br />');

			return formated_str;
		}
		//Captures the first stream of characters that are a letter, a number or a hifen (the ones used on the comment ID)
		function formatIDStr(str){
			var formated_str = String(str);

			return formated_str.match(/^([0-9]|[a-zA-Z]|-)*/g)[0];
		}
		//Building the comment HTML
		function buildComments(JSONArr){
			var currentText = "";

			for(var i = 0; i < JSONArr.length; i++){
				currentText += "<div class=\"comment\">\n";
				currentText += "\t<div class=\"comment-avatar\">\n";
				if(JSONArr[i].github){
					currentText += "\t\t<img src=\"https://avatars.githubusercontent.com/"+encodeURI(formatHTMLStr(JSONArr[i].github))+"\">\n";
				} else {
					currentText += "\t\t<img src=\"https://avatars.githubusercontent.com/staticmanapp\">\n";
				}
				currentText += "\t</div>\n";
				currentText += "\t<div class=\"comment-body\">\n";
				currentText += "\t\t<p><strong>"+formatHTMLStr(JSONArr[i].name)+"</strong> <em>"+formatHTMLStr(JSONArr[i].date)+"</em></p>\n";
				currentText += "\t\t<p>"+formatHTMLStr(JSONArr[i].comment)+"</p>\n";
				currentText += "\t</div>\n";
				currentText += "\t<div class=\"comment-controls\">\n";
				currentText += "\t\t<h6><a href=\"#comment-form-element\" onclick=\"replyTo('"+formatIDStr(JSONArr[i].id)+"');\">Reply</a></h6>\n";
				currentText += "\t</div>\n";
				if(JSONArr[i].reply){
					currentText += buildComments(JSONArr[i].reply);
				}
				currentText += "</div>\n";
			}

			return currentText;
		}
		//Modal functions
		function hideModal(){
			document.getElementById("commentModal").style.display = "none";
		}
		function showModal(){
			document.getElementById("commentModal").style.display = "table";
		}
		//Modal is shown if the page is loaded with a hash to "commentSubmitted"
		//i.e.: https://page.io/blog/.../my-post.html#commentSubmitted
		window.onload = function(){
			if(document.location.toString().indexOf('#') !== -1){
				var hash = document.location.toString().replace(/^.*?#/, '');
				if (hash == "commentSubmitted"){
					showModal();
				}
			}
		}

		//Load the comments and start a interval to reload every 5 seconds
		loadComments();
		setInterval(loadComments, 5000);
		// ==============================================================
	</script>
</div>
<!-- End of Comment Section -->
