//Specific markdown variables
$blockquote-bg: lighten(#000000, 90%);
$blockquote-border: lighten($header-bg, 8%);

//HERE YOU WILL SET ALL THE MARKUP AND CONTENT LAYOUT:
//Special image that works as a header (negative margin to ignore padding)
.header-image {
	//To compensate for ignoring the padding
	margin-bottom: 5vh;
	margin-top: -5vh;
	//Small hack: (-12.5% is related to the 80% available width, which is a total of 10%
	//		related to the full 100% width, which is the padding)
	margin-left: -12.5%;
	//Small hack: (125% is related to the 80% available width, which is equal to 100%
	//		related to the full width)
	width: 125%;
}

//Header that will display the author of the post
h6.post-author{
	//To ignore a little bit of the margin from the upper element
	margin-top: -2vh;
	margin-bottom: 6vh;
	text-align: right;
	font-size: 0.8rem;
	color: lighten($post-content-color, 10%);
}

//Adds extra bottom margin to the element
.extra-margin {
	margin-bottom: 5rem !important;
}
//Makes the bottom margin small
.small-margin {
	margin-bottom: 0.5rem !important;
}
//Removes bottom margin
.no-margin {
	margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1.5rem;
}
p.center, h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
	text-align: center;
}
p.right, h1.right, h2.right, h3.right, h4.right, h5.right, h6.right {
	text-align: right;
}
p.left, h1.left, h2.left, h3.left, h4.left, h5.left, h6.left {
	text-align: left;
}
p {
	margin-bottom: 1.5rem;
}
p.small-text {
	font-size: 0.8rem;
}
a {
	color: $header-bg;
}
a:hover {
	color: darken($header-bg,20%);
}
figure {
	margin: 1.5rem;
	img {
		width: 100%;
		margin: 0;
	}
	figcaption {
		text-align: center;
		font-size: 0.8rem;
		font-style: italic;
	}
}
figure.small {
	width: 30%;
}
figure.medium {
	width: 60%;
}
figure.large {
	width: 100%;
}
figure.center {
	display: block;
	margin: 1.5rem auto;
}

blockquote {
	display: block;
	position: relative;
	margin: 3rem 0 3rem 0;
	padding: 1rem 2.5rem;
	background-color: $blockquote-bg;

	border-radius: 0.5rem;
	border-left: 0.5rem solid $blockquote-border;

	p {
		margin: 0;
		font-style: italic;
	}
	p:first-child:before {
		position: absolute;
		top: 0;
		left: 0.5rem;
		content: '“';
		font-size: 4rem;
		text-align: left;
	}
	span.author {
		display: block;
		text-align: right;
		padding-right: 0.5rem;
		font-size: 0.9rem;
	}
}

//Code block div
div.highlighter-rouge {
	width: 100%;
	overflow: auto;
	margin-bottom: 1.5rem;
}
//Clip code a block div vertically
div.highlighter-rouge.v-small-box {
	height: 20vh;
}
div.highlighter-rouge.v-medium-box {
	height: 50vh;
}
div.highlighter-rouge.v-big-box {
	height: 70vh;
}
//Clip code a block div horizontally
div.highlighter-rouge.h-small-box {
	width: 25%;
}
div.highlighter-rouge.h-medium-box {
	width: 50%;
}
div.highlighter-rouge.h-big-box {
	width: 70%;
}
//Fallback for small screens (There will be no horizontal clipping on small screens)
@media not screen and (min-aspect-ratio: $min-aspect-ratio) and (min-width: $min-width) and (min-height: $min-height) {
	div.highlighter-rouge.h-small-box {
		width: 100%;
	}
	div.highlighter-rouge.h-medium-box {
		width: 100%;
	}
	div.highlighter-rouge.h-big-box {
		width: 100%;
	}
}

//Center the code block
div.highlighter-rouge.center {
	margin: 1.5rem auto;
}
//Includes rougify syntax highlighting
@import "syntax-highlighting"
