---
title: "IanDev Blog - Back-End Articles"
layout: blog
content-description: "Back-End Articles"
---
{% assign numberposts = site.categories.Back-End | size %}
{% if numberposts == 0 %}
<div class="post back-end">
	<div class="post-title">
		<h1>Sorry, we don't have any articles in this section!</h1>
	</div>
	<div class="post-description">
		<p>Maybe the author should stop being lazy and writing something already..</p>
	</div>
</div>
{% else %}
{% for post in site.categories.Back-End %}
	<div class="post back-end">
		<div class="post-title">
			<h1>{{ post.title }}</h1>
		</div>
		<div class="post-info">
			<h5>Category: {{ post.category }}</h5>
			<h5>Date: {{ post.date }}</h5>
		</div>
		<div class="post-description">
			{{ post.excerpt }}
			<h5 class="post-link"><a href="{{ site.baseurl }}{{ post.url }}" alt="post-link">read more</a></h5>
		</div>
	</div>
{% endfor %}
{% endif %}
