<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/stylesheet.css" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
		<meta charset="UTF-8"/>
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div class="header">
			<div class="header-logo">
				<img src="{{ site.baseurl }}/imgs/navbar/Logo.svg" alt="LOGO" />
			</div>

			<div class="header-title">
				<h1>Ian Dev</h1>
				<h2>Blog</h2>
			</div>

			<div class="header-description">
				<h5>A place to discuss web development</h5>
			</div>
		</div>

		<div class="blog-body">
			<div class="left-sidebar">
				<a href="{{ site.baseurl }}/index.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/date.svg" alt="ByDate"/>
						<h4>By Date</h4>
					</div>
				</a>
				<a href="{{ site.baseurl }}/category/frontend.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/frontend.svg" alt="FrontEnd"/>
						<h4>Front-End</h4>
					</div>
				</a>
				<a href="{{ site.baseurl }}/category/backend.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/backend.svg" alt="BackEnd"/>
						<h4>Back-End</h4>
					</div>
				</a>
				<a href="{{ site.baseurl }}/category/security.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/security.svg" alt="Security"/>
						<h4>Security</h4>
					</div>
				</a>
				<a href="{{ site.baseurl }}/category/others.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/others.svg" alt="Others"/>
						<h4>Others</h4>
					</div>
				</a>
			</div>

			<div class="content post-complete">
{% if page.category == "Front-End" %}
	{% assign colormodifier = "front-end" %}
{% elsif page.category == "Back-End" %}
	{% assign colormodifier = "back-end" %}
{% elsif page.category == "Security" %}
	{% assign colormodifier = "security" %}
{% elsif page.category == "Others" %}
	{% assign colormodifier = "others" %}
{% endif %}
				<div class="post {{ colormodifier }}">
					<div class="post-title">
						<h1>{{ page.title }}</h1>
					</div>
					<div class="post-info">
						<h5>Category: {{ page.category }}</h5>
						<h5>Date: {{ page.date }}</h5>
					</div>
					<div class="post-content">
						{% if page.header-image %}
							<img class="header-image" src="{{ site.baseurl }}{{ page.header-image }}" alt="HeaderImage"/>
						{% endif %}
						{% if page.author %}
							<h6 class="post-author">Written by {{ page.author }}</h6>
						{% else %}
							<h6 class="post-author"><em>Author unknown</em></h6>
						{% endif %}
						{{ content }}
					</div>

					<!-- Start of Comment Section -->
					<div class="comment-section">
						<h2>Comments</h2>

						<div class="comment-list">
							<div class="comment">
								<div class="comment-avatar">
									<img src="https://avatars.githubusercontent.com/iancaio" alt="Avatar" />
								</div>
								<div class="comment-body">
									<p><strong>Name</strong> <em>12/01/2018</em></p>
									<p>
										 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim turpis, condimentum vel pellentesque non, condimentum laoreet magna. Donec congue fringilla dui, at convallis velit molestie in. Sed ultrices, ligula sit amet aliquet scelerisque, nibh leo volutpat ligula, eget varius nunc nulla vel justo. Nam sit amet congue eros. Mauris eget nisi metus. Proin ultrices neque sit amet arcu commodo, quis laoreet dolor varius. Donec consequat massa quis enim elementum consequat. In placerat diam ut turpis egestas, at mollis nunc tempus. Maecenas tellus ante, ultricies vel viverra non, condimentum eget lorem. Cras aliquam lacus in ex ultrices maximus.
									</p>
								</div>
								<div class="comment-controls">
									<h6><a href="#">Reply</a></h6>
								</div>
							<div class="comment">
								<div class="comment-avatar">
									<img src="https://avatars.githubusercontent.com/iancaio" alt="Avatar" />
								</div>
								<div class="comment-body">
									<p><strong>Name</strong> <em>12/01/2018</em></p>
									<p>
										 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim turpis, condimentum vel pellentesque non, condimentum laoreet magna. Donec congue fringilla dui, at convallis velit molestie in. Sed ultrices, ligula sit amet aliquet scelerisque, nibh leo volutpat ligula, eget varius nunc nulla vel justo. Nam sit amet congue eros. Mauris eget nisi metus. Proin ultrices neque sit amet arcu commodo, quis laoreet dolor varius. Donec consequat massa quis enim elementum consequat. In placerat diam ut turpis egestas, at mollis nunc tempus. Maecenas tellus ante, ultricies vel viverra non, condimentum eget lorem. Cras aliquam lacus in ex ultrices maximus.
									</p>
								</div>
								<div class="comment-controls">
									<h6><a href="#">Reply</a></h6>
								</div>
							<div class="comment">
								<div class="comment-avatar">
									<img src="https://avatars.githubusercontent.com/iancaio" alt="Avatar" />
								</div>
								<div class="comment-body">
									<p><strong>Name</strong> <em>12/01/2018</em></p>
									<p>
										 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim turpis, condimentum vel pellentesque non, condimentum laoreet magna. Donec congue fringilla dui, at convallis velit molestie in. Sed ultrices, ligula sit amet aliquet scelerisque, nibh leo volutpat ligula, eget varius nunc nulla vel justo. Nam sit amet congue eros. Mauris eget nisi metus. Proin ultrices neque sit amet arcu commodo, quis laoreet dolor varius. Donec consequat massa quis enim elementum consequat. In placerat diam ut turpis egestas, at mollis nunc tempus. Maecenas tellus ante, ultricies vel viverra non, condimentum eget lorem. Cras aliquam lacus in ex ultrices maximus.
									</p>
								</div>
								<div class="comment-controls">
									<h6><a href="#">Reply</a></h6>
								</div>
							</div>
							</div>
							</div>
							<div class="comment">
								<div class="comment-avatar">
									<img src="https://avatars.githubusercontent.com/iancaio" alt="Avatar" />
								</div>
								<div class="comment-body">
									<p><strong>Name</strong> <em>12/01/2018</em></p>
									<p>
										 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim turpis, condimentum vel pellentesque non, condimentum laoreet magna. Donec congue fringilla dui, at convallis velit molestie in. Sed ultrices, ligula sit amet aliquet scelerisque, nibh leo volutpat ligula, eget varius nunc nulla vel justo. Nam sit amet congue eros. Mauris eget nisi metus. Proin ultrices neque sit amet arcu commodo, quis laoreet dolor varius. Donec consequat massa quis enim elementum consequat. In placerat diam ut turpis egestas, at mollis nunc tempus. Maecenas tellus ante, ultricies vel viverra non, condimentum eget lorem. Cras aliquam lacus in ex ultrices maximus.
									</p>
								</div>
								<div class="comment-controls">
									<h6><a href="#">Reply</a></h6>
								</div>
							</div>
						</div>

						<div class="comment-form">
							<h4>Leave a comment</h4>
							<form>
								<h5>Reply ID: <span>(filled automatically)</span></h5>
								<input type="text" name="reply-id" readonly/>
								<h5>Name:</h5>
								<input type="text" name="name"/>
								<h5>Github Account: <span>(optional for displaying avatar)</span></h5>
								<input type="text" name="githubacc"/>
								<h5>Comment:</h5>
								<textarea name="comment"></textarea>
								<button>Send</button>
							</form>
						</div>
					</div>
					<!-- End of Comment Section -->
				</div>
			</div>

			<div class="right-sidebar">
				<img src="{{ site.baseurl }}/imgs/blog/profile.jpg" alt="PROFILE" />
				<div class="profile-description">
					{% include author-description.html %}
				</div>
			</div>
		</div>

		<div class="blog-footer">
			<h4>Copyright &copy; 2018 - Ian Caio</h4>
		</div>
	</body>
</html>
