<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/res/stylesheet.css" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div class="header">
			<div class="header-logo">
				<img src="{{ site.baseurl }}/imgs/navbar/Logo.svg" alt="LOGO" />
			</div>

			<div class="header-title">
				<h1>Ian Dev</h1>
				<h2>Blog</h2>
			</div>

			<div class="header-description">
				<h5>A place to discuss web development</h5>
			</div>
		</div>

		<div class="blog-body">
			<div class="left-sidebar">
				<a href="{{ site.baseurl }}/index.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/date.svg" alt="ByDate" />
						<h4>By Date</h4>
					</div>
				</a>
				<a href="{{ site.baseurl }}/category/frontend.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/frontend.svg" alt="FrontEnd" />
						<h4>Front-End</h4>
					</div>
				</a>
				<a href="{{ site.baseurl }}/category/backend.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/backend.svg" alt="BackEnd" />
						<h4>Back-End</h4>
					</div>
				</a>
				<a href="{{ site.baseurl }}/category/security.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/security.svg" alt="Security" />
						<h4>Security</h4>
					</div>
				</a>
				<a href="{{ site.baseurl }}/category/others.html">
					<div class="category-link">
						<img src="{{ site.baseurl }}/imgs/blog/others.svg" alt="Others" />
						<h4>Others</h4>
					</div>
				</a>
			</div>

			<div class="content post-list">
				{% if page.content-description %}
					<div class="content-description">
						<h1>{{ page.content-description }}</h1>
					</div>
				{% endif %}
				{{ content }}
			</div>

			<div class="right-sidebar">
				<img src="{{ site.baseurl }}/imgs/blog/profile.jpg" alt="PROFILE" />
				<div class="profile-description">
					{% include author-description.html %}
				</div>
			</div>
		</div>

		<div class="blog-footer">
			<h4>Copyright &copy; 2018 - Ian Caio</h4>
		</div>
	</body>
</html>
